@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Space+Grotesk:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
}

body{
    height: 200vh;
    width: 100vw;
}

.inventory-header{
    height: 15vh;
    width: 100vw;
    background-color: blue;
    padding: 20px;
}

.inventory-database-container{
    height: 75vh;
    display: grid;
    grid-template-columns: .7fr .3fr;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: rgb(147, 147, 190);
    padding: 50px;
}

.inventory-database{
    border-radius: 10px;
    height: 60vh;
    background-color: rgb(29, 28, 51);
    box-shadow: 2px 2px 10px 1px;
    padding: 20px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(147, 147, 190);
}

label{
    margin-top: 10px;
    margin-bottom: 5px;
}

input{
    /* height: 40px;
    padding: 10px; */

    background: #2a2a40;
    color: #fff;
    border: none;
    padding: 0.75rem;
    margin-bottom: .1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}

#submit{
    margin-top: 20px;
    height: 30px;
    width: 80px;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
}

#submit:hover{
    background-color: green;
    border: none;
    transition: .08s;
}


.inventory-footer{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.product-display{
    color: rgb(147, 147, 190);
    border-bottom: 1px solid black;
    border-radius: 4px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
    padding-bottom: 10px;
}

.delete{
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.2s ease;
}

.delete:hover{
    background-color: #d9363e;
}

img{
    height: 25px;
    width: 25px;
}